[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
waitress = "*"
requests = "*"
pyyaml = "*"
pytelegrambotapi = "*"

[dev-packages]

[requires]
python_version = "3.9"
